future
pandas
matplotlib
numpy
scikit-learn
requests
wikipedia
transformers
openai[embeddings]
openai
networkx
tkinterweb
PyMySQL
python-dateutil
tensorflow
tensorflow-gpu
panda3d
XlsxWriter
pyperclip
pypdf